#banner{
    background: #1FA2FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    height: 60vh;
}

.banner-box{
    color: black;
    text-align: left;
    margin: 3rem 3rem;
}

#banner-title{
    font-size: 60px;
    display: block;
}

.banner-subtitle {
    font-size: 24px;
}

img {
    height: 15rem;
    display: flex;
    justify-content: center;
}

#banner-title{
    font-weight: 700;
}

.banner-subtitle {
    font-weight: 300;
}

.banner-button {
    font-family: 'Muli';
    font-size: 16px;
    background-color: rgb(36, 42, 45);
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    height: 56px;
    border-color: rgb(36, 42, 45);
    text-decoration: none;
    min-width: 162px;
    margin-top: 1rem;
}